APP_ENV=development
HTTP_PORT=8080
GRPC_PORT=50051
CONTEXT_TIMEOUT=10s
INGESTION_INTERVAL=12h
INGESTION_TIMEOUT=30m
MAX_PAGE_SIZE=500
DEFAULT_PAGE_SIZE=50

DB_HOST=postgres
DB_PORT=5432
DB_NAME=metadata_db
DB_USER=user
DB_PASSWORD=123456789admin
DB_CONNECTION_TIMEOUT=10s

UCS_SOURCE_URL=https://www.ucs.org/sites/default/files/2024-01/UCS-Satellite-Database%205-1-2023%20%28text%29.txt
UCS_FETCH_TIMEOUT=30s
UCS_FETCH_RETRIES=3
UCS_BATCH_SIZE=1000
UCS_FALLBACK_FILE_PATH=assets/fallback/ucs-snapshot-24-04-2026.txt

CELESTRAK_SOURCE_URL=https://celestrak.org/pub/satcat.txt
CELESTRAK_FETCH_TIMEOUT=30s
CELESTRAK_FETCH_RETRIES=1
CELESTRAK_BATCH_SIZE=1000
CELESTRAK_FALLBACK_FILE_PATH=assets/fallback/satcat-snapshot-24-04-2026.txt

SATNOGS_SOURCE_URL=https://db.satnogs.org/api
SATNOGS_FETCH_TIMEOUT=3s
SATNOGS_FETCH_RETRIES=1
SATNOGS_BATCH_SIZE=1000
