APP_ENV=development

DB_HOST=postgres
DB_PORT=5432
DB_NAME=metadata_db
DB_USER=user
DB_PASSWORD=123456789admin
DB_CONNECTION_TIMEOUT=10s

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DIRTY_SATELLITES_SET_KEY=dirty-satellites
REDIS_DIRTY_SATELLITES_QUEUE_KEY=satellite-dirty
REDIS_GROUP_NAME=aggregators
REDIS_CONSUMER_NAME=worker-1
REDIS_STREAMS_COUNT=10
REDIS_STREAMS_BLOCK=5s
REDIS_RETRY_DELAY=1s
