# General
APP_ENV=development       # Environment (development, test, production)
HTTP_PORT=8080
GRPC_PORT=50051
CONTEXT_TIMEOUT=10s # Global request context timeout (ms)
TLE_SOURCE_URL=https://celestrak.org/NORAD/elements/gp.php?GROUP=active&FORMAT=tle
TLE_FETCH_INTERVAL=6h
TLE_FETCH_TIMEOUT=20s
TLE_FETCH_MAX_RETRIES=10
TLE_CLEANUP_INTERVAL=1d
TLE_RETENTION_PERIOD=31d
TLE_CLEANUP_TIMEOUT=5m

# PostgreSQL database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=tle_db
DB_USER=user
DB_PASSWORD=123456789admin
DB_CONNECTION_TIMEOUT=10s
