HTTP_PORT=8080
GRPC_PORT=50051

DB_HOST=postgres
DB_PORT=5432
DB_NAME=notification_db
DB_USER=user
DB_PASSWORD=123456789admin
DB_CONNECTION_TIMEOUT=10s

TRAJECTORY_SERVICE_URL=trajectory-service:50051

MAX_PAGE_SIZE=100
