# General
APP_ENV=development       # Environment (development, test, production)
HTTP_PORT=8080
GRPC_PORT=50055
CONTEXT_TIMEOUT=10s # Global request context timeout (ms)

# PostgreSQL database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=user_db
DB_USER=user
DB_PASSWORD=123456789admin
DB_CONNECTION_TIMEOUT=10s
